body {
    font-family: Arial, sans-serif;
    background-color:#28282B;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
}

.header {
    background-color: #16161D;
    padding: 3px 0;
}

.decorative-element {
    position: absolute;
    left: -100px; 
    top: 100px;
    font-size: 36px;
    color: #FF8C00;
    animation: moveRight 2s linear infinite; 
}

@keyframes moveRight {
    0% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(100%);
    }
}

.container {
    max-width: 800px;
    background-color: #301934;
    margin: 0 auto;
    padding: 90px 215px 300px; 
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
}

 h1 {
    color: #5856d6;
    font-size: 36px;
}

p {
    color: #ccc;
    font-size: 20px;
    margin: 20px 0;
}

 a {
    display: inline-block;
    text-decoration: none;
    background-color: #5856d6;
    color: #fff;
    font-size: 22px;
    padding: 10px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

 a:hover {
    background-color: #0055a4;
}

.footer {
    background-color: #111;
    top:20%;
    padding: 10px 0;
    
}
.home-icon {
    position: absolute;
    top: 30px;
    left: 60px;
    font-size: 36px;
    color: #A95C68;
}
.github-link {
    font-size: 14px;
    background-color: #111;
    padding-top: 1px;
}
.resources-label {
    color: whitesmoke;
    font-size: 18px;
    background-color: #301934;
    margin-bottom: 10px;
}
.menu-bar {
    position: absolute;
    top: 16%;
    left: 0;
    width: 170px;
    height: 77%;
    background-color: #483248;
    color: #fff;
    padding: 20px 10px;
}

.menu-bar ul {
    list-style: none;
    padding: 29px;
    background-color: #301934;
}

.menu-bar li {
    margin: 10px 0;
}

.menu-bar a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: block;
    background-color: #A95C68;
    
}
.menu-bar a:hover {
  background-color:#d67483;
}

.flash-card {
   position: absolute;
   top: 40%;
   right: 15px;
   transform: translateY(-50%);
   background-color:  #301934;
   padding: 10px;
   max-height: 190px;
   border-radius: 5px;
   color: white;
   font-size: 16px;
   font-style: italic;
   font-family:Georgia, 'Times New Roman', Times, serif;
   font-weight: bold;
   text-align: center;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

#autoWriteCard {
   position: absolute;
   top: 87%;
   left: 28%;
   transform: translate(-50%, -50%);
   background-color: #16161D;
   padding: 10px ;
   height: 15%;
   border-radius: 5px;
   color: orange;
   font-size: 13px;
   text-align: center;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
   overflow: hidden;
}
#autoWriteCard #autoWriteContent {
   color: orange;
   font-size: 16px;
}

#autoWriteContent::after {
    content: '|'; 
    animation: blinkCursor 0.8s infinite;
}

@keyframes blinkCursor {
    50% {
        opacity: 0;
    }
}
.html-label {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  background-color: black;
  font-size: 15px;
  color: white;
}
.dropdown-symbol {
   margin-right: 5px;
}

#autoWriiteCard {
   position: absolute;
   top: 75%;
   left: 49%;
   transform: translate(-50%, -50%);
   background-color: #16161D;
   padding: 10px ;
   height: 15%;
   border-radius: 5px;
   font-size: 13px;
   text-align: center;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
   overflow: hidden;
}
#autoWriiteCard #autoWriiteContent {
   color: rgb(18, 188, 18);
   font-size: 16px;
}

#autoWriiteContent::after {
    content: '|';
    animation: bliinkCursor 0.8s infinite;
}
@keyframes bliinkCursor {
    50% {
        opacity: 0;
    }
}
.css-label {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  background-color: black;
  font-size: 15px;
  color: white;
}
.dropdownn-symbol {
   margin-right: 5px;
}

#autoWriiiteCard {
   position: absolute;
   top: 87%;
   left: 71%;
   transform: translate(-50%, -50%);
   background-color: #16161D;
   padding: 10px ;
   height: 15%;
   border-radius: 5px;
   font-size: 13px;
   text-align: center;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
   overflow: hidden;
}
#autoWriiiteCard #autoWriiiteContent {
   color: #5654e4;
   font-size: 16px;
}

#autoWriiiteContent::after {
    content: '|';
    animation: bliiinkCursor 0.8s infinite;
}
@keyframes bliiinkCursor {
    50% {
        opacity: 0;
    }
}
.js-label {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  background-color: black;
  font-size: 15px;
  color: white;
}
.dropdownnn-symbol {
   margin-right: 5px;
}

#signup-button {
    position: absolute;
    top: 28px;
    right: 20px;
    background-color: #00cc00;
    color: white;
    font-size: 18px;
    border: none;
    padding: 11px 28px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#signup-button:hover {
    background-color: rgb(134, 199, 35);
}
